* {
    border: 0px solid white
}

@font-face {
    font-family: Vampire;
    src: url(Vampire.ttf);
}

@font-face {
    font-family: FreakyFriday;
    src: url(FreakyFriday.ttf);
}

@font-face {
    font-family: Shaky;
    src: url(shaky.ttf);
}




body {
    background-color: black;
    height: 200vh;
    padding: 0;
    margin: 0;

}

.venom {
    font-family: Vampire;
    opacity: 1;
    font-size: 9vw;
    color: rgb(174, 34, 34);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.eddie {
    font-family: shaky;
    opacity: 1;
    font-size: 9vw;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.cache {
    opacity: 0
}

;


.venom span {

    line-height: 3em;
    transform: translateY(10px);
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

}


#porte {
    font-family: "chivo-mono", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    font-size: 15vw;

}




#O {

    width: 8.3vw;
    cursor: pointer;
    transform-origin: center;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 1.5vw;
    align-items: center;
}


img {
    width: 100%;
    height: 100%;
    display: block;
}

#O:hover {

    transform: rotateZ(50deg);
    transition: transform 0.2s linear;

}




.visible {
    opacity: 1;
}


.effet-cool.flipped {
    transform: rotateZ(90deg);

}

#O.flipped:hover {
    transform: rotateZ(90deg);

}

.effet-cool {
    opacity: 1;
    transform: translateY(0);

}

#stayputDiv,
#huh {
    position: absolute;
}

.superposition {
    width: 100%;
    height: auto;

    font-size: 9vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


#huh2 {
    font-family: Shaky;

}

#stayput {

    font-size: 16vw;
    color: rgb(146, 141, 141);
    font-family: "nickel-gothic-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 100;
}

#mouse-dot {
    position: absolute;
    width: 0.7vw;
    height: 0.7vw;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
}


.dialogue-interne {
    color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 1rem;
}


.dialogue-interne div {
    color: white;
    opacity: 0;
  
}

.dialogue-interne div span {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 0%;
}

#eddie1 {
    font-family: shaky;
    font-size: 15vw;
    color: white;
    text-align: center;
}

#venom1 {
    font-family: Vampire;
    font-size: 10vw;
    color: rgb(174, 34, 34);
    text-align: center;
 
}

#eddie2 {
    font-family: shaky;
    font-size: 7vw;
    color: white;
    text-align: center;
   
}

#venom2 {
    font-family: Vampire;
    font-size: 7vw;
    color: rgb(174, 34, 34);
    text-align: center;

}

#eddie3 {
    font-family: shaky;
    font-size: 15vw;
    color: white;
    text-align: center;
    
}

#venom3 {
    font-family: Vampire;
    font-size: 15vw;
    color: rgb(174, 34, 34);
    text-align: center;
   
}

#eddie4 {
    font-family: shaky;
    font-size: 15vw;
    color: white;
    text-align: center;
    
}

#venom4 {
    font-family: Vampire;
    font-size: 10vw;
    color: rgb(174, 34, 34);
    text-align: center;
   
}


#eddie5 {
    font-family: shaky;
    font-size: 10vw;
    color: white;
    text-align: center;
}



#eddie1 {
    transform: translateY(100px); /* position de départ en bas */
  }
  
  #eddie1.apparait {
    transform: translateY(0);     /* animation vers le haut */
  }
  
  .dialogue-interne div.apparait:not(#eddie1) {
    opacity: 1;
  }
